<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../public/css/navbar.css">
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
    <div class="banner">
        <div class="card__image">
            <img src="../public/images/logo_generic.png">
        </div>
    </div>
    <div>
        <div class="navbar">
            <ul>
                <li class="navbar-item dropdown"><i title="Painel" class="fa-solid fa-house fa-xl"></i><br>
                    <div class="dropdown-content">
                        <a href="#" >Dashboard</a>
                        <a href="#" >Cronograma</a>
                        <a href="#" >Receitas e Despesas Analítico</a>
                        <a href="#" >Receitas Analítico</a>
                        <a href="#" >Despesas Analítico</a>
                        <a href="#" >Controle Orçamentário</a>
                        <a href="#" >Cronologia das Despesas</a>
                        <a href="#" >Gastos Comprometidos</a>
                        <a href="#" >Bens Patrimoniais</a>
                        <a href="#" >Análise de Despesas</a>
                        <a href="#" >Gestão de Comprometidos</a>
                        <a href="#" >Ajustes Contratuais</a>
                        <a href="#" >Análise de Tendências</a>
                        <a href="#" >Metas</a>
                        <a href="#" >Relatório Aprovação da Diretoria e Conselho</a>
                        <a href="#" >Contas</a>
                    </div>
                </li>
            </ul>
            <ul>
                <li class="navbar-item dropdown"><i title="Metas" class="fa-solid fa-chart-column fa-xl"></i>
                    <div class="dropdown-content">
                        <a href="#" >Cadastro Metas</a>
                        <a href="#" >Alimentar Metas</a>
                        <a href="#" >Tipo Contrato</a>
                        <a href="#" >Unidade de Medida</a>
                    </div>
                </li>
            </ul>
            <ul>
                <li class="navbar-item"><i title="Importações" class="fa-solid fa-upload fa-xl"></i></li>
            </ul>
            <ul>
                <li class="navbar-item"><i title="Empresa" class="fa-solid fa-building fa-xl"></i></li>
            </ul>
            <ul>
                <li class="navbar-item"><i title="Perfil" class="fa-solid fa-user fa-xl"></i></li>
            </ul>
            <ul>
                <li class="navbar-item"><i title="Usuários" class="fa-solid fa-user-gear fa-xl"></i></li>
            </ul>
            <ul>
                <li class="navbar-item"><i title="Gerenciamento" class="fa-solid fa-list fa-xl"></i></li>
            </ul>
            <ul>
                <li class="navbar-item"><i title="Alterar Unidade" class="fa-solid fa-arrows-rotate fa-xl"></i></li>
            </ul>
            <ul>
                <li class="navbar-item"><i title="Sair" class="fa-solid fa-power-off fa-xl"></i></li>
            </ul>
        </div>
    </div>
    <div class="flex-container-row-father">
        <div class="flex-container-column">
            <div class="card-title">
                <div>
                    <p>Planejamento</p>
                </div>
            </div>
            <div class="card green">
                <div>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="flex-container-column">
            <div class="card-title card-title-controle">
                <p>Controle</p>
            </div>
            <div class="flex-container-row">
                <div class="card card-controle">
                    <p></p>
                </div>
                <div class="card card-controle">
                    <p></p>
                </div>
                <div class="card card-controle">
                    <p></p>
                </div>
                <div class="card card-controle">
                    <p></p>
                </div>
                <div class="card card-controle">
                    <p></p>
                </div>
                <div class="card card-controle">
                    <p></p>
                </div>
                <div class="card card-controle">
                    <p></p>
                </div>
                <div class="card card-controle">
                    <p></p>
                </div>
                <div class="card card-controle">
                    <p></p>
                </div>
            </div>
        </div>
        <div class="flex-container-column">
            <div class="card-title">
                <div>
                    <p>Ação e Metas</p>
                </div>
            </div>
            <div class="card orange">
                <div>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="flex-container-column">
            <div class="card-title">
                <div>
                    <p>Avaliação</p>
                </div>
            </div>
            <div class="card blue">
                <div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/28d1e12f63.js" crossorigin="anonymous"></script>
</body>
</html>