<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../public/css/menu.css">
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
    <div class="welcome">
        <h1>Bem vindo, admin</h1>
        <h2>Escolha o sistema em que deseja logar:</h2>
    </div>
    
    <div class="flex-container">
        <div class="card">
            <div class="card__image">
                <a href="https://hlink27.github.io/login-dashboard/view/dashboard.html"><img src="../public/images/logo_sistema_josesilveira.png"></a>
            </div>
            <p>Fundação José Silveira</p>
        </div>
        <div class="card">
            <div class="card__image">
                <a href="https://hlink27.github.io/login-dashboard/view/dashboard.html"><img src="../public/images/logo_sistema_fabriccultural.png"></a>
            </div>
            <p>Fabrica Cultural</p>
        </div>
        <div class="card">
            <div class="card__image">
                <a href="https://hlink27.github.io/login-dashboard/view/dashboard.html"><img src="../public/images/logo_sistema_IDS.png"></a>
            </div>
            <p>IDS - Betim</p>
        </div>
        <div class="card">
            <div class="card__image">
                <a href="https://hlink27.github.io/login-dashboard/view/dashboard.html"><img src="../public/images/logo_sistema_IDS.png"></a>
            </div>
            <p>IDS - Baldim (Educação)</p>
        </div>
        <div class="card">
            <div class="card__image">
                <a href="https://hlink27.github.io/login-dashboard/view/dashboard.html"><img src="../public/images/logo_sistema_IDS.png"></a>
            </div>
            <p>IDS - Baldim (Saúde)</p>
        </div>
    </div>
</body>
</html>
